body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
}

h1 {
  text-transform: capitalize;
  font-size: 56px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.02em;
}

h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: medium;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  color: #404bbf;
}

a {
  text-decoration-line: none;
  font-style: normal;
}

ul {
  list-style-type: none;
}

.logo-header .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
}

.logo-header {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

/* .navigation {
} */

.navigation-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.links-item:hover {
  /* color: #4d5ae5; */
  color: #404bbf;
}

.links-item:focus {
  color: #404bbf;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-links-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-links-item:focus {
  color: #404bbf;
}

.main-table {
  background: #2e2f42;
}

.main-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* .features { */
/* display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px; */
/* } */

/* .features-list {
}

.features-item {
}

.section-subtitle {
}

.section-paragraph {
} */

.team-cards {
  background-color: #f4f4fd;
}
/* 
.section-title {
}

.team-members {
} */

.team-member {
  background-color: #fff;
}

/* .team-member-image {
} */

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* .portfolio {
}

.all-works {
}

.bank-app {
} */

.portfolio-image {
  width: 360px;
  height: 300px;
}

/* .cashless-payment {
}

.meditation-app {
}

.taxi-service {
}

.screen-illustrations {
}

.online-courses {
} */

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: #f4f4fd; */
  color: #4d5ae5;
}

.logo-footer .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-box {
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
